mat-card {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.button-group {
    background-image: url('http://i0.kym-cdn.com/entries/icons/original/000/018/318/solojazz.jpg');
    background-size: 100%;
    /* text-align: center; */
    padding: 3em;
    width: 20%;
    margin: 15% auto; /* 15% from the top and centered */
}

.login-button {
    margin: 1em;
    height: 4em;
    width: 15em;
    border: none;
    color: white;
}

#spotify {
    padding-top: 10px;
    background-color: #1db954;
}

#spotify:hover {
    background-color: #1ed760;
}

#continue {
    background-color: #676767;
}

#continue:hover {
    background-color: #d71e95;
}