.modal {
    align: center;
    width: 20em;
    background-color: #F55E5E;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.label {
    color: 	#c04df9;
}
.button-group {
    background-image: url('http://i0.kym-cdn.com/entries/icons/original/000/018/318/solojazz.jpg');
    background-size: 100%;
    text-align: center;
    padding: 3em;
    width: 20%;
    margin: 15% auto; /* 15% from the top and centered */
}

.login-button {
    margin: 1em;

    height: 4em;
    width: 15em;
    border: none;
    color: white;
}

#spotify {
    background-color: #1db954;
}

#spotify:hover {
    background-color: #1ed760;
}

#continue {

}

#continue:hover {
    background-color: lightgray;
}