mat-card {
    text-align: center;
    color: white;
    background: linear-gradient(to bottom left, #77C9D4, #57DC90);
}

.login-button {
    margin: 1em;
    height: 4em;
    width: 15em;
    border: none;
    color: white;
    padding-top: 10px;
}

#spotify {
    color: #1db954;
    /* background-color: #1db954; */
    background-color: white;
}

#spotify:hover {
    color: white;
    background-color: #1ed760;
}

#continue {
    color: #676767;
    /* background-color: #676767; */
    background-color: white;
}

.disabled {
  background-color: #dddddd !important;
  /* pointer-events: none; */
}

.disabled:hover {
    cursor: not-allowed !important;
}

.error-info {
    margin: auto;
    text-align: center;
    width: 40%;
    background: red;
    word-wrap: break-word;
    color: white;
    margin-bottom: 8px;
}