.video-item {
    float: left;
    padding: 2em;
}

#sidebar {
    width: 20%;
    height: 600px;
    overflow: scroll;
    background-color: black;
}

.sidebar-item {
    padding: 3px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}
.sidebar-item:hover  {
    color: red;
}

#iframe-container {
    background-color: pink;
    overflow: hidden;
}