mat-list {
    padding-top: 0!important;
}

.song-list {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 30em;
}

.playlist-container {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
}

/************************************************************************ 
Css in this section is regarding UI ViewPorts for mobile width devices.
************************************************************************/
@media (max-width: 599px) {
    .logo {
        display: none;
    }
}

/************************************************************************ 
Css in this section is regarding UI ViewPorts for desktop width devices.
************************************************************************/
@media (min-width: 600px) {
    .logo {
        background-color: #424242;
        color: white;
        text-align: center;
        padding-bottom: 10px;
    }

    .logo-tip {
        background-color: rgba(255, 0, 0, 0.707);
    }

    .logo:hover {
        cursor: pointer;
    }
}

/********************************************************************************
Css in this section is regarding random stylistic elements for main body content.
********************************************************************************/
mat-list-item:hover {
    background-color: #68686862;
}

.mat-expanded {
    background-color: #4242428e;
}