/************************************************************************ 
Css in this section is regarding UI ViewPorts for mobile width devices.
************************************************************************/
@media (max-width: 599px) {
    .playlist-container {
        height: 40vh;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .song-list {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 30em;
    }

    .current-song {
        position: absolute;
        width: 100%;
    }
}

/************************************************************************ 
Css in this section is regarding UI ViewPorts for desktop width devices.
************************************************************************/
@media (min-width: 600px) {
    .playlist-container {
        height: 64vh;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .song-list {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        height: 30em;
    }
}

/********************************************************************************
Css in this section is regarding random stylistic elements for main body content.
********************************************************************************/
mat-list-item:hover {
    background-color: #e0e0e0;
}

.mat-expanded {
    /* background-color: #FAFAFA !important; */
}

.playlist-panel-item {
    /* background-color: white; */
    margin: 2px;
}

.song-list-item {
    /* background-color: #e0e0e0; */
    margin: 2px;
    height: 4em !important;
}

.song-list-item:hover {
    /* background-color: white; */
} 

/************************************************************************ 
Css in this section is regarding current song play info.
************************************************************************/
.current-song {
    margin-top: 5px;
    color: black;
    background-color: #FAFAFA;
}

.track-name {
    font-size: 16px;
}
.artist-name {
    font-weight: 400;
}

/************************************************************************ 
Css in this section is regarding the previous and next buttons for songs.
************************************************************************/
.track-buttons {
    display: grid;
    height: 25px;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    padding-top: 5px;
}

img {
    height: 32px;
    width: 32px;
}

.icon-container {
    width: 100%;
    display:block;
    margin:auto;

}

.icon-container:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.shuffle-icon {
    height: 15px;
    width: 15px;
}

.repeat-icon {
    height: 15px;
    width: 15px;
}