.sidebar {
    grid-area: "sidebar";
    /* overflow-y: scroll; */
    height: 100%;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
        "sidebar" "video";
    /* height: 1000px; */
    background-color: #464646;
}

mat-list-item:hover {
    background-color: #696969;
}

.song-list {
    overflow: scroll;
    height: 30em;
}

iframe {
    height: 1000px;
    width: 100%;
}

.video-container {
    height: 100%;
    width: inherit;
    grid-area: "video";
}

.iframe-container {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

/************************************************************************ 
Css in this section is regarding the previous and next buttons for songs.
************************************************************************/
.track-buttons {
    display: grid;
    height: 25px;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    background-color: #696A58;
}

.track-buttons:hover {
    cursor: pointer;
}

.previous:hover {
    background-color: red;
}

.next:hover {
    background-color: green;
}