.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 1000px;
    /* grid-template-columns: 1fr 4fr; */
    /* position: absolute; */
    
}

.sidebar-item { 
    /* height: 5em; */
    background-color: rgb(179, 255, 232);
}

.playlist-button {
    width: 100%;
    height: 2em;
}
.sidebar {
    overflow-y: scroll;
}

.playlist-button:hover {
    background-color: lightsalmon;
    cursor: pointer;
}

.playlist-button:hover {
    cursor: pointer;
}

.playlist-song {
    height: 2em;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.playlist-song:hover {
    cursor: pointer;
    background-color: lightgreen;
}
.playlist-content {
    background-color: lightgoldenrodyellow;
}
.playlist-playall {
    width: 100%;
    background-color: lightgray;
}

.playlist-playall:hover {
    background-color: gray;
}
.video-container {
    height: 100%;
    text-align: center;
    background-color: lightblue;
}

.sidebar-item .playlist-content {
    height: 15em;
    overflow: scroll;
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}


.iframe-container iframe {
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
}

.song-name {
    /* float: left; */
}
.artist-name {
    /* float: right; */
}

/*
Read n learn responsive shit yo. 
http://brianflove.com/2017/05/03/responsive-angular/
*/