/* .video-item {
    float: left;
    padding: 2em;
}

#sidebar {
    width: 20%;
    height: 600px;
    overflow: scroll;
    background-color: black;
}

.sidebar-item {
    padding: 3px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}
.sidebar-item:hover  {
    font-size: 20px;
    text-shadow: 0 0 3px #FBFF12;
}

#iframe-container {
    background-color: #FF206E;
    overflow: hidden;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar-item { 
    height: 5em;
}
.sidebar {
    height: 100%;
    background-color: lightgoldenrodyellow;
    overflow: scroll;
}

.sidebar-item:hover {
    background-color: lightsalmon;
    cursor: pointer;
}

.playlist-label:hover {
    cursor: pointer;
}

.video-container {
    height: 100%;
    background-color: lightblue;
}

.sidebar-item .playlist-content {
    height: 15em;
    overflow: scroll;
}